@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo,
    monospace;
  --font-display: "Oswald", var(--font-geist-sans), sans-serif;
  --font-roboto: var(--font-roboto), system-ui, sans-serif;

  /* Colors */
  --color-background: #121212; /* Deep charcoal */
  --color-foreground: #f4f4f5; /* Near white */
  --color-text: #d1d5db; /* Cool light gray */
  --color-muted: #6b7280; /* Neutral muted gray */

  /* Brand */
  --color-primary: #d97706; /* Burnt amber */
  --color-secondary: #b45309; /* Darker burnt amber */
  --color-accent: #2563eb; /* Strong blue for cool contrast */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer utilities {
  @keyframes caret-blink {
    0%,
    49% {
      opacity: 1;
    }
    50%,
    100% {
      opacity: 0;
    }
  }
  .animate-caret {
    animation: caret-blink 1s steps(1) infinite;
  }
}

::selection {
  @apply bg-secondary text-text;
}
